<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.espol.cvr.paipayapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@drawable/logo"
        android:label="PaiPay">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuAdmin"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Menú" />
        <activity
            android:name=".ArmarPedidos"
            android:label="@string/title_activity_armar_pedidos"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".InfoPedidoAdmin"
            android:label="@string/title_activity_info_pedido"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CaptureActivityPortrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ConfigPuntoRepartoAdmin"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ConsultarEstadoPedido"
            android:label="@string/title_activity_consultar_estado_pedido"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>